# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Windows Zone Identifiers
*:Zone.Identifier

# IDEs
.vscode/
.idea/

# Mac
.DS_Store
